#theme-switcher {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(0,0,0,0.4);
    padding: 10px;
    border-radius: 10px;
    z-index: 999999;
}
#theme-select {
    background: #333;
    color: white;
    padding: 5px 10px;
    border: none;
}
